---
layout: default
title: Welcome
---

<h2>{{ title }}</h2>

<p>Engo is an open-source 2D game engine written in <a href="https://golang.org" target="_blank">Go</a>. It uses the Entity-Component-System paradigm. The code is available on <a href="https://github.com/EngoEngine/engo" target="_blank">GitHub</a>. If you encounter any problems, find any bugs, or want to request a feature, you can <a href="https://github.com/EngoEngine/engo/issues/new" target="_blank">open an issue</a> or chat with us on <a href="https://gitter.im/EngoEngine/engo">gitter</a>. </p>

<p><code>go get -u engo.io/engo</code></p>

<p>We're currently still developing this website (it's on <a href="https://github.com/EngoEngine/engoengine.github.io" target="_blank">GitHub</a> too!), so please be patient while we begin to fill it out. Ideas and content requests can be filed <a href="https://github.com/EngoEngine/engoengine.github.io/issues/new" target="_blank">here</a>. </p>

<h2>Tutorials</h2>
<p>This is our full blown tutorial series.</p>

<ul class="button-group stacked">
{% for tut in site.categories.tutorials reversed %}
<li><a class="button" href="{{tut.url}}">{{ tut.title }}</a></li>
{% endfor %}
</ul>

<h2>Conceptual Explanations</h2>
<p>These are links to all of our explanations on how certain concepts in engo work.</p>

<ul class="button-group stacked">
<li><a class="button" href="/concepts/animation.html">Animation</a></li>
<li><a class="button" href="/concepts/mobileBuilding.html">Building for Mobile</a></li>
</ul>

<h2>Links</h2>

{% include links.html %}
