<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.min.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Code+Pro'>
	<link rel="stylesheet" href="/css/golang.css">
	<style type="text/css">
		body { text-align: center; }
		.row { max-width: 35rem; }
		footer p { font-size: small; color: gray; }
	</style>
